.main_logo{
    width: 140px;
    height: 50px;
}
.add_item_btn{
    background-color: var(--main_theme_color);
    margin-right: 5% !important;
    color: #fff;
    font-weight: 500;
}
.card{
    margin: 0 auto; 
}
.card-body{
    padding: 35px !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .08);
}
label{
    font-weight: 400;
    font-size: 20px;
}
.todo_btn{
    background-color: var(--main_theme_color);
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    margin-left: 40px !important;
}
.task-input::placeholder {
    color: #888;
}
.mat-tab-label .mat-tab-label-content {
    font-weight: 500 !important;
    font-size: 17px !important;
    color: #000000 !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--main_theme_color);
}
.modal-title{
    font-size: 24px !important;
    font-weight: 500 !important;
}

@media screen and (max-width:500px){
    .add_list_inputs{
        width: 100%;
    }
}
@media screen and (min-width:1024px){
    .add_list_inputs{
        width: 50%;
    }
}