.form-check-input:checked {
    background-color: #28a745; 
    border-color: #28a745;
}
.label-class{
  font-weight: 500;
  font-size: 16px;
  margin-top: 50px;
}
.confirm_btn{
  background-color: var(--main_theme_color);
}
.swal2-toast{
  background-color: var(--main_theme_color);
  color: white;
  font-weight: 700;
}
.update_btn{
  background-color: var(--main_theme_color);
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 40px !important;
}